<html>
    <head>
        <title>Home</tite>
    </head>
    <body>
        {% block content %}
            <form action="register" method="GET">
                <table>
                    <tr>
                        <th>
                            <center><h3>Registration Form</h3></center>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" name="name"></td>
                    </tr>  
                    <tr>
                        <th>Password</th>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td><input type="text" name="address"></td>
                    </tr>
                    <tr>
                        <th>Mail</th>
                        <td><input type="text" name="mail"></td>
                    </tr> 
                    <tr>
                        <td><input type="submit" name="submit"></td>
                    </tr>
                    
                </table>
            </form>                
            


